<!DOCTYPE html>
<html>

<head>
  <title>Options</title>
  <link rel="stylesheet" href="./../shared/base.css">
  <link rel="stylesheet" type="text/css" href="options.css">
  <link id="json-theme" href="./../shared/json-themes/default.css" rel="stylesheet">

</head>

<body>
  <h2>Properties</h2>
  <label>
    <input type="checkbox" id="use-syntax-highlighting">
    Highlight JSON (also enables sitevision-node traversal in properties view)
  </label>
  <br>
  <br>
  <div>
    <label for="theme-dropdown">Choose a theme:</label>
    <br>
    <select name="Theme" id="theme-dropdown">
      <option value="">Select overriding theme</option>
    </select>
    <br>
  </div>
  <details id="expandable">
    <summary>Theme preview</summary>
    <div class="json-holder">
      <pre>
      </pre>
    </div>
  </details>
  <h2>Session parameters</h2>
  <label>
    <input type="checkbox" id="reload-on-change">
    Reload page on change (unless URL contains <i>/edit</i>)
  </label>

  <br>
  <br>
  <button id="save" disabled>Save</button>
  <pre id="properties"></pre>


  <script type="module" src="options.js"></script>
</body>

</html>