<!DOCTYPE html>
<html>
  <head>
    <title>Options</title>
		<link rel="stylesheet" href="./../base.css">

  </head>
  <body>
		<h2>Properties</h2>
    <label>
      <input type="checkbox" id="use-syntax-highlighting">
      Highlight JSON
    </label>
		<h2>Session parameters </h2>
			<label>
      <input type="checkbox" id="reload-on-change">
      Reload page on change (unless within /edit in URL)
    </label>

		<br>
		<br>
		<button id="save">Save</button>
    <pre id="properties"></pre>


    <script src="options.js"></script>
  </body>
</html>