:root {
  --view-width: unset;
}

label:has(textarea) {
  display: flex;
  flex-direction: column;
  max-width: unset;
}
textarea {
  width: 100%;
}

summary {
  width: max-content;
  &:hover {
    cursor: pointer;
  }
}
