.json-holder pre {
  --json-bg: #fdf6e3ff;
  --json-fg: #586e75ff;

  --json-key-fg: #8f6b00ff;

  --json-string-fg: #687900ff;

  --json-primitive-fg: #6468bdff;

  --json-boolean-fg: #be4a19ff;

  --json-number-fg: #cd2d7aff;

  --json-null-fg: #657474ff;

  --json-id-fg: #ca2522ff;
  --json-id-bg: #dc322f15;

  background: var(--json-bg);
  color: var(--json-fg);
}

.json-key {
  color: var(--json-key-fg);
}

.json-string {
  color: var(--json-string-fg);
}

.json-primitive {
  color: var(--json-primitive-fg);
}

.json-boolean {
  color: var(--json-boolean-fg);
}

.json-number {
  color: var(--json-number-fg);
}

.json-null {
  color: var(--json-null-fg);
}

.json-id {
  color: var(--json-id-fg);
  background: var(--json-id-bg);
}
