.json-holder pre {
  --json-bg: #0f1115ff;
  --json-fg: #d6deebff;

  --json-key-fg: #82aaffff;

  --json-string-fg: #c3e88dff;

  --json-primitive-fg: #437bd2ff;

  --json-boolean-fg: #ffcb6bff;

  --json-number-fg: #f78c6cff;

  --json-null-fg: #767ca0ff;

  --json-id-fg: #ff5370ff;
  --json-id-bg: #ff537026;

  background: var(--json-bg);
  color: var(--json-fg);
}

.json-key {
  color: var(--json-key-fg);
}

.json-string {
  color: var(--json-string-fg);
}

.json-primitive {
  color: var(--json-primitive-fg);
}

.json-boolean {
  color: var(--json-boolean-fg);
}

.json-number {
  color: var(--json-number-fg);
}

.json-null {
  color: var(--json-null-fg);
}

.json-id {
  background: var(--json-id-bg);
  color: var(--json-id-fg);
}
