:root {
    --black--dark: #0f1115;
    --black: #333;
    --white--light: #fff;
    --white: #e6e6e6;
    --border-radius: 8px;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color--dark: var(--white--light);
        --bg-color: var(--white);
        --fg-color: var(--black);
        --fg-color--light: var(--black--dark);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color--dark: var(--black--dark);
        --bg-color: var(--black);
        --fg-color: var(--white);
        --fg-color--light: var(--white--light);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 320px;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    line-height: 1.4;
}

body {
    padding: 14px;
    background-color: var(--bg-color);
    color: var(--fg-color);
}
