<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../resources/style/base.css" />
    <link id="json-theme" href="../../resources/style/json-themes/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="properties.css" />
    <title>Properties</title>
  </head>

  <body>
    <div id="header-wrapper" class="properties-header">
      <h1>Properties</h1>
      <div class="button-collection">
        <button data-tooltip type="button" aria-label="Previous node" id="back">
          <span class="icon icon--arrow-left" aria-hidden="true"></span>
        </button>

        <button data-tooltip type="button" aria-label="Next node" id="forward">
          <span class="icon icon--arrow-right" aria-hidden="true"></span>
        </button>

        <button data-tooltip type="button" id="copy" aria-label="Copy properties to clipboard">
          <span class="icon icon--copy" aria-hidden="true"></span>
        </button>

        <button
          data-tooltip
          type="button"
          id="wrap"
          aria-pressed="false"
          aria-label="Toggle word wrap"
        >
          <span class="icon icon--text-wrap" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div id="error"></div>
    <div id="spinner" class="bar hidden"></div>
    <div id="json-wrapper" class="json-holder">
      <pre></pre>
    </div>
    <button
      data-tooltip
      type="button"
      id="json-id-copy-template"
      class="json-id-copy"
      aria-label="Copy node ID"
    >
      <span class="icon icon--copy" aria-hidden="true"></span>
    </button>
    <script type="module" src="properties.js"></script>
  </body>
</html>
