:root {
  --base-font-size: 16px;
}

html,
body {
  width: unset;
}

#copy:active:not(:disabled) {
  background-color: var(--bg-color-dark);
  color: var(--fg-color-light);
  border-color: var(--fg-color-light);
}

.json-holder pre {
  .json-id {
    padding: 1px 4px;
    border-radius: 4px;
    cursor: pointer;
  }
}
