html,
body {
  width: unset;
}

pre {
  font-family: monospace;
  padding: 16px;
  line-height: 1.25;
  min-width: 100%;
  font-size: 16px;
  overflow-x: auto;

  &.wrap {
    white-space: pre-wrap;
    word-break: break-word;
  }
}


.properties-buttons {
  display: flex;
  gap: 8px;
  flex-direction: row;

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 16px;
      height: 16px;
      display: block;
    }

    &.active {
      background-color: var(--bg-color-dark);
      color: var(--fg-color-light);
      border-color: var(--fg-color-light);
    }

    &:active:not(:disabled) {
      box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
