html, body{
  width: unset;
}
pre {
  font-family: monospace;
  padding: 16px;
  line-height: 1.25;
  min-width: 100%;
  font-size: 16px;
  overflow-x: auto;

  &.wrap {
    white-space: pre-wrap;
    word-break: break-word;
  }
}

#wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  /* Aktivt tillstånd (.active) -> Invertera färgerna mot din standardknapp */
  &.active {
    background-color: var(--bg-color-dark);
    color: var(--fg-color-light);
    border-color: var(--fg-color-light);
  }

  &:active:not(:disabled) {
    transform: scale(0.96);
  }
}
