<!DOCTYPE html>
<html lang="en">

<head>
  <title>SV-Utilities</title>
  <link rel="stylesheet" type="text/css" href="../shared/base.css">
  <link rel="stylesheet" type="text/css" href="popup.css">
</head>

<body>
  <h1>SV-Utilities</h1>
  <div id="error"></div>
  <h2>Node properties</h2>
  <form id="form">
    <fieldset>
      <legend>Version</legend>
      <input type="radio" id="radio1" name="radio" value="1" checked>
      <label for="radio1">Online</label>
      <input type="radio" id="radio2" name="radio" value="0">
      <label for="radio2">Offline</label><br>
    </fieldset>
    <div class="bordered-container">
      <input type="text" id="node-id-input" placeholder="Node-id">
      <button type="submit" value="getProperties">Get properties</button>
    </div>
    <input type="hidden" id="current-page-id" value="">
    <button type="submit" disabled value="getCurrentPage">Get current page</button>
    <input type="hidden" id="current-user-id" value="">
    <button type="submit" disabled value="getCurrentUser">Get current user</button>
  </form>

  <div>
    <h2>Session parameters</h2>
    <label>
      <input type="checkbox" id="toggle-profiling">
      ?profiling=true
    </label>
    <label>
      <input type="checkbox" id="toggle-jsdebug">
      ?jsdebug=true
    </label>
    <label>
      <input type="checkbox" id="toggle-slimrender">
      ?slimRender=true
    </label>
  </div>
  <script type="module" src="popup.js"></script>
</body>

</html>