<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../resources/style/base.css" />
    <link rel="stylesheet" href="re-index.css" />
    <title>Reindex Node Tree</title>
  </head>

  <body>
    <div class="reindex-header">
      <h1>Reindex Node Tree</h1>
    </div>
    <div id="error"></div>

    <div class="controls-panel">
      <span id="current-node-label">Root node ID:</span>
      <output id="current-node-id" aria-labelledby="current-node-label">Loading...</output>
      <div class="input-group">
        <!-- TODO, revise tooltips/labels -->
        <button
          id="start-reindex-btn"
          type="button"
          data-tooltip
          aria-label="Starts a depth-first reindex of the node tree. Will use a finished preview if available."
        >
          Start Reindex
        </button>
        <button
          id="preview-reindex-btn"
          type="button"
          data-tooltip
          aria-label="Generates a preview of the node tree to be reindexed."
        >
          Preview
        </button>
        <button
          id="cancel-reindex-btn"
          type="button"
          data-tooltip
          aria-label="Cancels the ongoing reindex or preview operation."
          disabled
        >
          Cancel
        </button>
      </div>
    </div>

    <div id="status-wrapper">
      <span class="badge badge-idle">IDLE</span>
      <span id="summary-text">Ready to reindex</span>
    </div>
    <div id="spinner" class="bar hidden"></div>

    <div id="log-wrapper">
      <pre id="log-container" class="log-container" role="log" aria-live="polite"></pre>
    </div>

    <script type="module" src="re-index.js"></script>
  </body>
</html>
